{% load static %}
{% load my_tags %}

<div class="related">
    <div class="title clearfix">
        <h2>Похожие продукты</h2>
        <a class="explore" href="{% url 'products:category' hot_product.category.id %}">показать все <img
                src="{% static 'img/arrow.png' %}" alt=""></a>
    </div>
    <div class="related-products clearfix">
        {% for product in same_products %}
        <div class="block">
            <a href="#"><img src="{{product.img|media_folder_products}}" alt="img">
                <div class="text">
                    <img src="{% static 'img/icon-hover.png' %}" alt="img">
                    <h4>{{ product.name }}</h4>
                    <p>{{ product.description }}</p>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>