{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}

		<div class="hero-white">
			{% include 'mainapp/include/inc_menu.html' %}
		</div>

		<div class="details">
			{% include 'mainapp/include/inc_menuCategory.html' %}

			<div class="details-products">
				{% if product %}
						<div class="details-slider">
							<div class="slider-product">
								<img src="/media/{{ product.img }}">
							</div>
						</div>

						<div class="description">
							<h3 class="big-bold">{{product.name}}</h3>
							<h3 class="red">{{product.short_discription}}</h3>
							<p class="price"> {{product.price}} <span>руб</span></p>
							<a href="{% url 'basket:add' product.pk %}" class="red-button">
								заказать <i class="fa fa-chevron-right" aria-hidden="true"></i>
							</a>
							<div class="description-text">
								{{product.discription}}
							</div>
						</div>
				{% else %}
					<div class="details-slider">
						<div class="slider-product">
							<img src="{% static 'img/product-1-lg.jpg' %}">
						</div>
					</div>

					<div class="description">
						<h3 class="big-bold">Пока нет продуктов</h3>
						<h3 class="red">Скоро добавим</h3>
					</div>
				{% endif %}
			</div>			
			{% if same_products %}
				{% include 'mainapp/include/inc_simProducts.html' %}
			{% endif %}
		</div>

{% endblock %}