{% extends 'mainapp/base.html' %}
{% load static %}
{% load my_tags %}

{% block content %}

<div class="hero-white">
  {% include 'mainapp/include/inc_menu.html' %}
</div>

<div class="details">
  {% include 'mainapp/include/inc_menuCategory.html' %}

  <div class="products_list">
    <div class="title clearfix">
      <h2>Категория: "{{ category.name|title }}"</h2>
      <div class="paginator">
        {% if products.has_previous %}
        <a href="{% url 'products:page' category.pk products.previous_page_number %}">
          < </a> {% endif %} <span class="current">
            страница {{ products.number }} из
            {{ products.paginator.num_pages }}
            </span>
            {% if products.has_next %}
            <a href="{% url 'products:page' category.pk products.next_page_number %}">
              >
            </a>
            {% endif %}
      </div>
    </div>
    <br>

    <div class="category-products clearfix">

      {% for product in products %}
      <div class="block">
        <a href="{% url 'products:product' product.pk %}"><img src="{{product.img|media_folder_products}}" alt="img">
          <div class="text">

            <h4>{{ product.name }}</h4>
            <p>{{ product.description }}</p>
            <a href="{% url 'basket:add' product.pk %}" class="red-button-products_list">
              заказать <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </a>
          </div>
        </a>
      </div>
      <br>
      {% endfor %}

    </div>
  </div>
</div>

<div class="clr"></div>

{% endblock %}